*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
}
/*-------------------------------------------
    Navigation & banner section styles
---------------------------------------------*/
header{
    background-color:#2D25A0;
    margin-bottom: 10px;
}

nav{
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    align-items: center;
    width: 1143px;
    height: 44px;
    margin: 30px 0;
}
.menu li{
    list-style: none;
    padding: 0 20px;
}
.menu li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 500;
}
.menu li a:hover{
    color:#E02C6D;
    text-decoration: underline;
}

.banner-container{
    display: flex;
    justify-content: center;
    margin: 67px 140px 167px 156px;
}
.top-banner{
    display: flex;
    width: 1143px;
}
.banner-content{
    width: 485px;
    height: 230px;
    margin-right: 102px;
   

}
.banner-title{
    font-size: 60px;
    color: #fff;
    line-height: 80px;
    margin-bottom: 30px;
}
.btn{
    padding: 15px 30px;
    text-decoration: none;
    background-color: #E02C6D;
    color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 15px;
}
.btn i{
    margin-left: 5px;
}
.btn:hover{
    background-color: #2D25A0;
    cursor: pointer;
}
.banner{
    width: 556px;
    height: 438px;
    margin-bottom: 86px;
    transition:transform 2s ease-in-out;
}
.banner img{
    width:100%
}
.banner:hover{
    transform: skew(-30deg);
}

/*------------------------------
      Players section style
-------------------------------*/

.players-container{
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
.top-players{
    width: 1050px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;

}
.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
}
.player-name{
    margin-top: 16px;
}
.player-info{
    margin-top: 10px;
    margin-bottom: 15px;
}

/*---------------------------------
     review-seasion style
----------------------------------*/

.review-seasion-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 0 ;
    padding: 20px 0;

}
.review-seasion{
    display: flex;
    width: 1100px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-radius: 5px;
}
.content{
    width: 50%;
    margin-right: 30px;
}
.review-seasion-title{
     margin: 15px 0;
     color: #333;
     font-size: 30px;
}
.review-seasion-detaile{
      margin-top: 20px;
}
.match-clip{
    width: 50%;
    height: 261px;
    border: 1px solid#ddd;
}
.match-clip video{
    width: 100%;
    height: 100%;
}

/*-------------------------
    Footer style
--------------------------*/

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 63px;

}
.footer-container{
    width: 500px;
    height: 240px;
    text-align: center;

}

.logo img{
    height: 110px;
    width: 100%;
}
.social-icon-container{
    margin: 20px 0;
}
.social-icon{
    display: flex;
    justify-content: center;
    
}
.social-icon li{
    padding-left: 14px;
    list-style: none;
}
.social-icon li a{
    text-decoration: none;
}
.fab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: #ddd;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 50%;
}
.fab:hover{
    color: blue;
    cursor: pointer;
}
    
.footer-des{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

/*--------------------------
      Media queries
----------------------------*/

/*------------------------
     Mobile devices
--------------------------*/

@media only screen and (max-width:688px){
    nav{
        margin: 10px;
    }
    .menu{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .menu li{
        padding: 10px 0px;
    }

    .banner-container{
        margin: 10px;
    }
    .top-banner{
        flex-direction: column;
        width: auto;
        
    }
    .banner-content{
        width: 100%;
        height: auto;
        padding: 15px;
        margin-bottom: 30px;
    
    }
    .banner-title{
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    
    .banner{
        width:100%;
        margin:10px;
        margin-top: 15px;
    
    }
    .banner img{
        width:80%
    }
    
    .top-players{
        width:100%;
        display: flex;
        justify-content: center;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .review-seasion{
        flex-direction: column;
        width:100%;
    }
    .content{
        width: 100%;
        margin-bottom: 20px;
    }
    .match-clip{
        width: 100%;
        
    }
 }